/CancelCheckoutAdminAction.class
/ChangeUserPasswordAction.class
/ClassIndexesAction.class
/ControlPanelAction.class
/DeleteClassIndexAction.class
/DeleteDocumentClassAction.class
/DeleteUserAction.class
/DocumentClassAccessHistoryReportAction.class
/EditClassIndexesAction.class
/EditDocumentClassAction.class
/EditUserAction.class
/ManageCheckoutsAction.class
/ManageDocumentClassesAction.class
/NewClassIndexAction.class
/NewDocumentClassAction.class
/NewUserAction.class
/PermissionsAction.class
/PurgeDocumentAction.class
/RecycleBinAction.class
/RecycleBinContentAction.class
/ReportsAction.class
/RestoreDocumentAction.class
/SetPermissionsAction.class
/SummaryReportAction.class
/UserAccessHistoryReportAction.class
/UsersAction.class
